<launch>
  <!--<node type="pub_current_location.py" name="pub_current_location" pkg="waypoint_server"/>-->
  <node type="waypoint_server.py" name="waypoint_server" pkg="waypoint_server" output="screen">
    <param name="threshold_distance" value="5"/>
    <param name="generate_waypoints" value="False"/>
    <param name="gps_topic" value="/gps"/>
    <param name="odom_topic" value="/odom"/>
  </node>
</launch>
