<launch>
  <node type="waypoint_server_node.py" name="waypoint_server" pkg="waypoint_server" output="screen">
    <param name="gps_topic" value="/gps"/>
    <param name="odom_topic" value="/odom"/>
    <param name="imu_topic" value="/imu"/>
    <param name="goal_reached_topic" value="/goal_reached"/>
    <param name="publish_displacement_from_wp" value="True"/>
    <param name="generate_waypoints_from_file" value="False"/>
  </node>
</launch>
